* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

.main-title {
    text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
}

#clock {
    animation: clockHand 5s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
}

#leftTree,
#righTree {
    animation: tree 2s ease-in-out infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#man {
    animation: manBody 1s ease-in-out infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#pc-circle {
    fill: #6ace66;
    stroke-width: 4;
    animation: change-light 4s linear infinite alternate;
}

@keyframes clockHand {
    from {
        transform: rotateZ(0deg);
    }

    from {
        transform: rotateZ(-360deg);
    }
}

@keyframes manBody {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(10deg);
    }
}

@keyframes tree {
    from {
        transform: rotateZ(10deg);
    }

    to {
        transform: rotateZ(-20deg);
    }
}

@keyframes change-light {
    0% {
        stroke: #cd61f8;
    }

    25% {
        stroke: #6ace66;
    }

    75% {
        stroke: #2995c0;
    }

    100% {
        stroke: #e92949;
    }
}